// New Zald

@font-face {
  font-family: 'newzald-black';
  src: url(../fonts/Newzald-Black.otf);
}

// Input Mono

@font-face {
  font-family: 'inputmono-reg';
  src: url(../fonts/InputMonoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'inputmono-italic';
  src: url(../fonts/InputMonoCondensed-Italic.ttf);
}

@font-face {
  font-family: 'inputmono-bold';
  src: url(../fonts/InputMonoCondensed-Bold.ttf);
}

// Hiragino

@font-face {
  font-family: 'mark-regular';
  src: url(../fonts/MarkBook.otf);
}

@font-face {
  font-family: 'mark-medium';
  src: url(../fonts/MarkMedium.otf);
}

@font-face {
  font-family: 'mark-black';
  src: url(../fonts/Markblack.otf);
}
