.project-info-wrap {
  overflow: hidden;
  width: 100%;
  letter-spacing: 1;
  line-height: 1.6;
  padding: 100px 0 60px 0;
  margin: 0;
  .project-description.visible, .project-tools.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .project-description, .project-tools {
    @include transition;
    opacity: 0;
    text-align: left;
    transform: translateY(-20px);
    padding-left: calc(5% + 30px);
    padding-right: calc(5% + 30px);

    h3 {
      font-family: $font-title;
      text-transform: uppercase;
      font-size: 15px;
    }
    li, a {
      font-size: 13px;
      @include transition;
      font-family: $font-copy;
      text-decoration: none;
      color: $off-black;
    }
    a {
      position: relative;
      top: 15px;
    }
  }
}

.project-content {
  width: 100vw;
  height: 50vh;
  margin-bottom: 60px;
  display: inline-block;
  padding-bottom: 80vh;
  div:nth-child(1) {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    div {
      height: 40vh;
      // width: 100vw;
      background-size: cover;
      background-position: top left;
    }
  }
  #projectImg1 {
    &:before, &:after {
      content: '';
      width: $image-border-width;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &:before {
      float: left;
      background-color: $image-border-color;
    }
    &:after {
      float: right;
      background-color: $image-border-color;
    }
    span{
      &:before, &:after {
        content: '';
        width: calc(100%);
        margin-left: -$image-border-width;
        height: $image-border-width;
        position: absolute;
        display: inline-block;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:before {
        top: 0;
        background-color: $image-border-color;
      }
      &:after {
        bottom: 0;
        background-color: $image-border-color;
      }
    }
  }
  #projectImg1, #projectImg2, #projectImg3 {
    @include transition;
    opacity: 0;
    transform: translateY(20px);
  }
  #projectImg1.visible, #projectImg2.visible, #projectImg3.visible {
    opacity: 1;
    transform: translateY(0px);
  }
  @include respond-at-and-above($break-medium) {
    height: 80vh;
    display: flex;
    padding-bottom: 0;
    div:nth-child(1) {
      width: 65vw;
    }
    div:nth-child(2) {
      div {
        height: 40vh;
        width: 35vw;
      }
    }
  }
}

.project .parallax-wrap{
  display: none;
}
